.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.listgroupstyle{
  max-height: 245px;
  max-width: 400px;
  overflow: auto;
}

.templatelist{
  max-height: 450px;
  max-width: 400px;
  overflow: auto;
}

.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-accuracy-questioned {
  background-color: #B67207 !important; /* Set the background color for Accuracy questioned type */
  color: #FFFFFF !important; /* Set the text color for Accuracy questioned type */
  border-color: #4C2A00 !important;
}

.btn-bad-modeling {
  background-color: #8B0029 !important; /* Set the background color for Bad modeling type */
  color: #FFFFFF !important; /* Set the text color for Bad modeling type */
  border-color: #3F0113 !important;
}

.btn-lacking-completeness {
  background-color: #2B0195 !important; /* Set the background color for Lacking completeness type */
  color: #FFFFFF !important; /* Set the text color for Lacking completeness type */
  border-color: #1B025A !important;
}

.btn-in-depth-analysis {
  background-color: #0180E5 !important; /* Set the background color for Lacking completeness type */
  color: #FFFFFF !important; /* Set the text color for Lacking completeness type */
  border-color: #05528F !important;
}

.btn-innovative-approach {
  background-color: #B0AB32 !important; /* Set the background color for Lacking completeness type */
  color: #FFFFFF !important; /* Set the text color for Lacking completeness type */
  border-color: #6E6B20 !important;
}

.btn-reproducible-results {
  background-color: #069B0C !important; /* Set the background color for Lacking completeness type */
  color: #FFFFFF !important; /* Set the text color for Lacking completeness type */
  border-color: #034D06 !important;
}

.dropdownmenu{
  max-width: 300px;
  max-height: 400px;
  overflow: auto;
}

.popover-stick{ 
  position: absolute;
  top:50px;

}

.duplicateList{
  overflow: auto;
  max-height: 300px;
  max-width:300px;
}

.listgroupcursor{
  cursor:pointer;
  word-wrap: break-word;
}

.custom-card.card{
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
