.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.listgroupstyle{
  max-height: 245px;
  max-width: 250px;
  overflow: auto;
}

.popover-stick{ 
  position: absolute;
  top:0;

}

.duplicateList{
  overflow: auto;
  max-height: 300px;
  max-width:300px;
}

.listgroupcursor{
  cursor:pointer;
  word-wrap: break-word;
}

.custom-card.card{
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
